<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DATABASE CLEAR</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <style>
        table
{
    border: 1px solid black;
    border-radius: 10px;
}
     </style>
</head>
<body>
    <center>
        <form action="/format" method="post">
        <table bgcolor="">
            <tr>
                <h1>FinNet-DATABASE WIPE CONFIRMATION</h1>
            </tr>
            
            <tr>
                <td>Server:Professional 1.0.2</td>
            </tr>
            
             <tr>
                <td>
                    Password:<input type="password" name="psd">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit">
                </td>
            </tr>
        </table>
        <p> Note that this is the final step for confirming your decision to erase your data base ,by entering your pin , all your history of debits/credits will be erased.Think carefully</p>
    </form>
    </center>
</body>
</html>